### `import libraries`

In [1]:
import pandas as pd
import datetime as dt

   ### `Review Python's datetime module`

In [2]:
today = dt.datetime(2020,5,3)

In [3]:
today.year

2020

In [4]:
today.day

3

In [5]:
today.month

5

In [6]:
today = dt.datetime(2020,5,3,17,46,30)

In [7]:
today

datetime.datetime(2020, 5, 3, 17, 46, 30)

In [8]:
print(today)

2020-05-03 17:46:30

In [9]:
today = dt.datetime("2020/05/03")

TypeError: an integer is required (got type str)

In [10]:
today = dt.datetime(2020/05/03)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-10-c30a1a218933>, line 1)

### `TimeStamp` use to solve above error. To use TimeStamp we can use any format of date for same output

In [11]:
pd.Timestamp("2020-05-03")
pd.Timestamp("2020/05/03")
pd.Timestamp("2020-05-03 11:26:00 PM")

Timestamp('2020-05-03 23:26:00')

### `DateTimeIndex`

In [12]:
dates = ['04/05/2020','05/05/2020']

In [13]:
pd.DatetimeIndex(dates)

DatetimeIndex(['2020-04-05', '2020-05-05'], dtype='datetime64[ns]', freq=None)

### `pd.to_datetime`

In [14]:
pd.to_datetime('2020/05/04')

Timestamp('2020-05-04 00:00:00')

### We can use dt.date(2020,5,4) for same output

In [15]:
pd.to_datetime(dt.date(2020,5,4))

Timestamp('2020-05-04 00:00:00')

In [16]:
pd.to_datetime(dt.datetime(2020,4,3,15,30,27))

Timestamp('2020-04-03 15:30:27')

In [17]:
#Generating Series
dates = pd.Series(['04 may, 2020','05 may,2020', "this is today date"])

In [18]:
dates

0          04 may, 2020
1           05 may,2020
2    this is today date
dtype: object

### To remove invalid parsing use errors='coerce'

In [19]:
pd.to_datetime(dates,errors='coerce')

0   2020-05-04
1   2020-05-05
2          NaT
dtype: datetime64[ns]

In [20]:
unixtime =[12234,12234,54654,567567]
pd.to_datetime(unixtime,unit='s')

DatetimeIndex(['1970-01-01 03:23:54', '1970-01-01 03:23:54',
               '1970-01-01 15:10:54', '1970-01-07 13:39:27'],
              dtype='datetime64[ns]', freq=None)

   ### Creat range in form of Date `pd.date_range()`

In [21]:
# Frequency based on dates
time = pd.date_range(start="22/5/2020" ,end = "22/5/2021",freq='D')

In [22]:
time

DatetimeIndex(['2020-05-22', '2020-05-23', '2020-05-24', '2020-05-25',
               '2020-05-26', '2020-05-27', '2020-05-28', '2020-05-29',
               '2020-05-30', '2020-05-31',
               ...
               '2021-05-13', '2021-05-14', '2021-05-15', '2021-05-16',
               '2021-05-17', '2021-05-18', '2021-05-19', '2021-05-20',
               '2021-05-21', '2021-05-22'],
              dtype='datetime64[ns]', length=366, freq='D')

In [23]:
# Frequency based on year 
time = pd.date_range(start="22/5/2020" ,end = "22/5/2021",freq='A')
time

DatetimeIndex(['2020-12-31'], dtype='datetime64[ns]', freq='A-DEC')

In [24]:
# Frequency based on week
time = pd.date_range(start="22/5/2020" ,end = "22/5/2021",freq='W')
time

DatetimeIndex(['2020-05-24', '2020-05-31', '2020-06-07', '2020-06-14',
               '2020-06-21', '2020-06-28', '2020-07-05', '2020-07-12',
               '2020-07-19', '2020-07-26', '2020-08-02', '2020-08-09',
               '2020-08-16', '2020-08-23', '2020-08-30', '2020-09-06',
               '2020-09-13', '2020-09-20', '2020-09-27', '2020-10-04',
               '2020-10-11', '2020-10-18', '2020-10-25', '2020-11-01',
               '2020-11-08', '2020-11-15', '2020-11-22', '2020-11-29',
               '2020-12-06', '2020-12-13', '2020-12-20', '2020-12-27',
               '2021-01-03', '2021-01-10', '2021-01-17', '2021-01-24',
               '2021-01-31', '2021-02-07', '2021-02-14', '2021-02-21',
               '2021-02-28', '2021-03-07', '2021-03-14', '2021-03-21',
               '2021-03-28', '2021-04-04', '2021-04-11', '2021-04-18',
               '2021-04-25', '2021-05-02', '2021-05-09', '2021-05-16'],
              dtype='datetime64[ns]', freq='W-SUN')

In [25]:
# Frequency based on hours
time = pd.date_range(start="22/5/2020" ,end = "22/5/2021",freq='H')
time

DatetimeIndex(['2020-05-22 00:00:00', '2020-05-22 01:00:00',
               '2020-05-22 02:00:00', '2020-05-22 03:00:00',
               '2020-05-22 04:00:00', '2020-05-22 05:00:00',
               '2020-05-22 06:00:00', '2020-05-22 07:00:00',
               '2020-05-22 08:00:00', '2020-05-22 09:00:00',
               ...
               '2021-05-21 15:00:00', '2021-05-21 16:00:00',
               '2021-05-21 17:00:00', '2021-05-21 18:00:00',
               '2021-05-21 19:00:00', '2021-05-21 20:00:00',
               '2021-05-21 21:00:00', '2021-05-21 22:00:00',
               '2021-05-21 23:00:00', '2021-05-22 00:00:00'],
              dtype='datetime64[ns]', length=8761, freq='H')

### `datareader` stock data

In [26]:
# ! pip install pandas_datareader

from pandas_datareader import data

c:\python38\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

### Let see current stocks of TESLA

In [27]:
company = "TSLA"
start = "2020-01-01"
end = "2020-05-03"

In [28]:
# data_source = yahoo
stocks = data.DataReader(name=company,data_source='yahoo',start=start,end = end)

In [29]:
stocks

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-12-31,421.290009,402.079987,405.000000,418.329987,10285700,418.329987
2020-01-02,430.700012,421.709991,424.500000,430.260010,9532100,430.260010
2020-01-03,454.000000,436.920013,440.500000,443.010010,17778500,443.010010
2020-01-06,451.559998,440.000000,440.470001,451.540009,10133000,451.540009
2020-01-07,471.630005,453.359985,461.399994,469.059998,17882100,469.059998
...,...,...,...,...,...,...
2020-04-27,799.489990,735.000000,737.609985,798.750000,20681400,798.750000
2020-04-28,805.000000,756.690002,795.640015,769.119995,15222000,769.119995
2020-04-29,803.200012,783.159973,790.169983,800.510010,16216000,800.510010
2020-04-30,869.820007,763.500000,855.190002,781.880005,28471900,781.880005
2020-05-01,772.770020,683.039978,755.000000,701.320007,32479600,701.320007

### Let see stocks on a particular date

In [30]:
# Using .loc[]
stocks.loc['2020-5-1']

High         7.727700e+02
Low          6.830400e+02
Open         7.550000e+02
Close        7.013200e+02
Volume       3.247960e+07
Adj Close    7.013200e+02
Name: 2020-05-01 00:00:00, dtype: float64

In [31]:
# Using .iloc[index]
stocks.iloc[84]

High         7.727700e+02
Low          6.830400e+02
Open         7.550000e+02
Close        7.013200e+02
Volume       3.247960e+07
Adj Close    7.013200e+02
Name: 2020-05-01 00:00:00, dtype: float64

### See Stocks information for a particular time interval, here we use .truncate( )

In [32]:
stocks.truncate(before="2020-1-1",after="2020-4-25")
# You can observe table avoids information before 01/01/2020 and after 25/04/2020

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-02,430.700012,421.709991,424.500000,430.260010,9532100,430.260010
2020-01-03,454.000000,436.920013,440.500000,443.010010,17778500,443.010010
2020-01-06,451.559998,440.000000,440.470001,451.540009,10133000,451.540009
2020-01-07,471.630005,453.359985,461.399994,469.059998,17882100,469.059998
2020-01-08,498.489990,468.230011,473.700012,492.140015,31144300,492.140015
...,...,...,...,...,...,...
2020-04-20,765.570007,712.210022,732.700012,746.359985,14746600,746.359985
2020-04-21,753.330017,673.789978,730.119995,686.719971,20209100,686.719971
2020-04-22,734.000000,688.710022,703.979980,732.109985,14224800,732.109985
2020-04-23,734.000000,703.130005,727.599976,705.630005,13236700,705.630005
2020-04-24,730.729980,698.179993,710.809998,725.150024,13237600,725.150024

### TimeDelta

In [33]:
timea=pd.Timestamp('2020-05-03 19:41:00')
timeb = pd.Timestamp('2020-05-05 19:41:00')

In [34]:
timeb-timea

Timedelta('2 days 00:00:00')

In [35]:
pd.Timedelta(weeks =10,days=2,hours=10,minutes=20,seconds=25)

Timedelta('72 days 10:20:25')

### Let's calculate delievery time using Ecommerce.csv file

In [36]:
df = pd.read_csv('ecommerce.csv', index_col='ID')

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501 entries, 1 to 997
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_date     501 non-null    object
 1   delivery_date  501 non-null    object
dtypes: object(2)
memory usage: 7.8+ KB

   ###  To convert order_date and delivery_date in to `datetime format` we use `parse_dates`

In [38]:
# To convert order_date and delivery_date in to datetime format we use Parse_dates

df = pd.read_csv('ecommerce.csv', index_col='ID',parse_dates=['order_date','delivery_date'])

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501 entries, 1 to 997
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_date     501 non-null    datetime64[ns]
 1   delivery_date  501 non-null    datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 11.7 KB

### How much time took in delivery?

In [40]:
df['delivery_time']=df['delivery_date']-df['order_date']

In [41]:
df

    order_date delivery_date delivery_time
ID
1   1998-05-24    1999-02-05      257 days
2   1992-04-22    1998-03-06     2144 days
4   1991-02-10    1992-08-26      563 days
5   1992-07-21    1997-11-20     1948 days
7   1993-09-02    1998-06-10     1742 days
..         ...           ...           ...
990 1991-06-24    1996-02-02     1684 days
991 1991-09-09    1998-03-30     2394 days
993 1990-11-16    1998-04-27     2719 days
994 1993-06-03    1993-06-13       10 days
997 1990-01-04    1991-10-03      637 days

[501 rows x 3 columns]